@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url('https://fonts.cdnfonts.com/css/harry-p');

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #6e4f32;
    color: azure;
}

h1 {
    font-family: "Harry P", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.page.active {
    display: flex;
}

.result {
    font-size: 40px;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #4d2509;
    background-color: #d9c9ba;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}